<div id="homeMainDiv" class="container-fluid">
  </br>
  <div class="col-md-offset-2 col-md-8 text-center">
    
    <div class="panel panel-primary">

      <div class="panel-heading">
        <%= image_tag("logo.png", :alt => "Homeloop") %>
      </div>

      <div class="panel-default container-fluid">
      
        <h4 class="surround-text custom-padding">Find previous transactions next to you</h4>

        <p id="geoInfo" style="display:none;"></p>

        <%= form_tag "/results", method: "post", class: "form-inline custom-padding" do %>
          <%= image_tag("image.png", :alt => "geo") %>
          <div class="form-group col-md-offset-1">
            <input id="latInput" type="hidden" name="lat" value="0"/>
            <input id="lngInput" type="hidden" name="lng" value="0"/>
            <div class="input-group">
              <input name="email" type="text" class="form-control">
              <div class="input-group-addon">@homeloop.fr</div>
            </div>
          </div>
          <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-map-marker">Find</button>
        <% end %>

        <div class="row custom-padding">
          <div class="col-md-6 text-right">
            <h4>A beautiful tool ...</h4>
            <p style="color:gray">This tool is offered to you by the tech team.</p>
            <p style="color:gray">We really love you, therefore we made it extremelly simple to use. Or at least we hope it is. We do really expect you to provide us a feedback on this tool. And here I would continue with the explanation</p>
          </div>
          <div class="col-md-6 text-left vertical-line">
            <h4>... for a wonderful team</h4>
            <p style="color:gray">Actually, the only ones who are reading this are candidates for a developer job at Homeloop.</p>
            <p style="color:gray"> I sincerelly wish you good luck, this company is amazing, I strongly believe it is the future of real estate. And if you are reading this, it means that you want to be part of this adventure.</p>
            <p style="color:gray"> Hope to see you soon!</p>
          </div>
        </div>
        <p class="issue-text">Any issue? Contact tech@homeloop.fr</p>
      </div>
    </div>
  </div>
</div>